




/*
     FILE ARCHIVED ON 13:34:58 Aug 31, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 8:41:40 Mar 11, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

.ENLIGHTENED { color: #008800; }
.RESISTANCE { color: #001D93; }

body {
	font-family: Verdana,Geneva,sans-serif;
}

.ice th,
.ice td {
	font-size: 13px;
}

.ice.text th,
.ice.text td,
body {
	font-size: 14px;
}

html.badfonts .ice th,
html.badfonts .ice td,
html.badfonts body {
	font-family: serif;
	font-size: 14px;
}

html, body {
	margin: 0;
	padding: 0;
}

#absolute_frame,
body {
	margin: 30px 0;
}

#debug_info {
	font-family: monospace;
	background-color: #fcc;
	padding: 2px 8px;
	position: fixed;
	top: 0;
	right: 0;
}

img {
	border: 0; /*IE6*/
}

#menu {
	float: left;
	width: 150px;
	margin: 0 25px;
	line-height: normal;
}

#menu div {
	margin-bottom: 50px;
}

#menu a {
	display: block;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
	color: #006666;
}

#content-frame {
	margin: 0 200px;
}

#absolute_frame,
#content {
	width: 800px;
}

#content {
	margin: 0 auto;
}

.tabs a {
	color: #000;
}

td a.ENLIGHTENED,
td a.RESISTANCE {
	text-decoration: none;
}

.ice .section_header,
.ice .section_header:hover,
.ice .section_header:hover td:hover {
	font-weight: bold;
	background-color: #f6f8f9;
}

/*************************
  Ice Theme (by thezoggy)
 *************************/
.ice {
	width: 100%;
	background-color: #fff;
	text-align: left;
	border-spacing: 0;
	border: #ccc 1px solid;
	border-width: 1px 0 0 1px;
}
.ice th,
.ice td {
	border: #ccc 1px solid;
	border-width: 0 1px 1px 0;
}
.ice th,
.ice thead td {
	background-color: #f6f8f9;
	border-collapse: collapse;
	padding: 3px 8px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.ice tbody td,
.ice tfoot th,
.ice tfoot td {
	padding: 4px 8px;
	vertical-align: top;
}
.ice td {
	color: #333;
}
.ice tbody > tr:hover > td,
.ice tbody > tr.even:hover > td,
.ice tbody > tr.odd:hover > td {
	background: #ebf2fa;
}
caption {
	background: #fff;
}

.ice .header,
.ice .tablesorter-header {
	background: #f6f8f9 no-repeat center right;
	background-image: url(data:image/gif;base64,R0lGODlhDAAMAMQAAAJEjAJCiwJBigJAiANFjgNGjgNEjQRIkQRHkANIkAVMlAVQmAZWnQZUnAdYoAhdpAhZoAlhqQlepQliqQppsApmrQxutgtutQtutAxwtwxwtg1yug1zugxtsw1yuP8A/yH5BAEAAB8ALAAAAAAMAAwAAAUx4Cd+3GiOW4ado2d9VMVm1xg9ptadTsP+QNZEcjoQTBDGCAFgLRSfQgCYMAiCn8EvBAA7);
	cursor: pointer;
}
.ice .headerSortUp,
.ice .tablesorter-headerSortUp,
.ice .tablesorter-headerAsc {
	background: #ebedee no-repeat center right;
	background-image: url(data:image/gif;base64,R0lGODlhDAAMANUAAAJCiwNHkANFjgNEjQRIkQNJkQRMlARKkwRKkgVPlwZSmgdaogdYnwhfpghcowlhqgliqglgqAlgpwljqwporwpmrQplrAtsswtqsgtrsgtqsQxttAtvtQtttAxyuQxwtwxxtwxvtg10uw1zuQ1xuP8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACUALAAAAAAMAAwAAAY6wJKwJBoahyNQ6Dj0fDoZCpPEuWgqk4jxs8FQLI+Gg8Esm5kQydFQMC7IwkOAqUiUCAIzIjA4lwBlQQA7);
}
.ice .headerSortDown,
.ice .tablesorter-headerSortDown,
.ice .tablesorter-headerDesc {
	background: #ebedee no-repeat center right;
	background-image: url(data:image/gif;base64,R0lGODlhDAAMANUAAAE/iAJBigNFjgNEjQNFjQNDiwRHkQRHjwNHjwROlgRMlQRMlARJkgRKkgZQmAVPlgZWnQZSmgZRmAdXoAdXnwdUnAdbogdZoQhbowlhqAlepglkrAliqQtstAtqsQxyugxyuQxwuAxxuAxxtwxwtgxvtQ10vA12vA10u/8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACkALAAAAAAMAAwAAAY6wJQwdRoah6bP6DhEiVIdDxNEGm4yxlDpiJkwv2AmR2OhVCSJBsJ4gUQeCwOB6VAwBAXwYRAIpwBfQQA7);
}
.ice thead .sorter-false {
	background-image: none;
	cursor: default;
}
